<%- include('partials/header') %>

<div class="container mt-5">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Hata!</h4>
    <p><%= message %></p>
  </div>
</div>

<%- include('partials/footer') %>
