/* Genel stil ayarları */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
}

section {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: 1rem;
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

h3 {
  margin-top: 0;
}

span {
  display: block;
  margin-top: 0.5rem;
  font-style: italic;
}

footer {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Responsive Tasarım */
@media (max-width: 768px) {
  nav a {
    display: block;
    margin: 0.5rem 0;
  }
}
