<%- include('partials/header', {title: 'Hata'}) %>

<main class="main-content container">
  <section class="section">
    <h2 class="section-title">Hata</h2>
    <p><%= message %></p>
    <a href="/" class="btn">Ana Sayfaya Dön</a>
  </section>
</main>

<%- include('partials/footer') %>
