<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | Blog Sayfası</title>
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <div class="container"><%- body %></div>
    </main>

    <%- include('partials/footer') %>

    <script src="/js/main.js"></script>
  </body>
</html>
