<footer>
  <div class="container">
    <p>&copy; 2024 Blog Sayfası. Tüm hakları saklıdır.</p>
    <ul class="social-links">
      <li><a href="#" target="_blank">Facebook</a></li>
      <li><a href="#" target="_blank">Twitter</a></li>
      <li><a href="#" target="_blank">Instagram</a></li>
    </ul>
  </div>
</footer>
