<aside class="sidebar">
  <section class="widget">
    <h3>Kategoriler</h3>
    <ul>
      <% categories.forEach(function(category) { %>
      <li><a href="/category/<%= category._id %>"><%= category.name %></a></li>
      <% }); %>
    </ul>
  </section>

  <section class="widget">
    <h3>Son Yazılar</h3>
    <ul>
      <% recentPosts.forEach(function(post) { %>
      <li><a href="/post/<%= post._id %>"><%= post.title %></a></li>
      <% }); %>
    </ul>
  </section>
</aside>
